.paginatorContainer {
    margin-bottom: 200px;
    display: flex;
    justify-content:center;
}

.paginatorButton {
    color:#000000;
    margin: 10px;
    width: 35px;
    height:35px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    -webkit-border-radius:50%;
}